@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito Sans", sans-serif;
  }
  p {
    @apply leading-relaxed;
  }
  select {
    @apply bg-white dark:bg-slate text-black dark:text-white shadow rounded py-8 px-16 w-full;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
